<div class="grouping">
  <h1>Change Password</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <br>
    <div class="form-inputs">
      <% if false %>
        code to comment
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :username, required: true, autofocus: true %>
      <% end %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :current_password,
                  hint: "Enter your current password",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :password,
                  hint: "Enter your new password",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: 'btn btn-outline-dark' %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

  <% if false %>
    code to comment
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  <% end %>

</div>
