-# frozen_string_literal: true
= simple_form_for(@study_task) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  - if (!@study_task.complete)
    .form-inputs
    = f.input :task_name
    = f.input :study_id
    = f.input :complete
    - if (current_user.email == Study.where(study_id: @study_task.study_id).pluck(:backup_manager).first && current_user.email == Study.where(study_id: @study_task.study_id).pluck(:lead_manager).first)
      = f.input :lead_hours_worked
      = f.input :backup_hours_worked
    - elsif (current_user.email == Study.where(study_id: @study_task.study_id).pluck(:lead_manager).first)
      = f.input :lead_hours_worked
    - elsif (current_user.email == Study.where(study_id: @study_task.study_id).pluck(:backup_manager).first)
      = f.input :backup_hours_worked
    - else
      = f.input :guest_hours_worked

    .form-actions
      = f.button :submit, class: "btn btn-outline-dark"
