- content_for :title, "Home"
- if current_user && current_user.admin

  .jumbotron.mb-3.background-colour2
    %h1.display-5 Time and Resourcing Data Information System
    %p.lead Made by Team 4.
    %p
      View Study List
      = link_to 'Click', 'studies'
    %p
      View Lead & Backup DM Hours Per Month
      = link_to 'Click', 'study_hours_timeline'
      for icons.
    %p
      View Available Tasks & Details
      = link_to 'Click', 'task_lists'
      for icons.
    %p
      View Month Timeline For All Studies
      = link_to 'Click', 'month_timeline'
      for icons.
    %p
      Manage All Data Managers
      = link_to 'Click', 'data_managers'
      for icons.
    %p
      View Data Manager Working Hours
      = link_to 'Click', 'manager_hours'
      for icons.
- else
  .jumbotron.mb-3.background-colour2
    %h1.display-5 Time and Resourcing Data Information System
    %p.lead Made by Team 4.
    %p
      As an Admin : Getting Study List
      = link_to 'Click', 'studies'
    %p
      As a DM : Getting Study List
      = link_to 'Click', 'dm_studies'
      for icons.
    %p
      As a DM : Getting own hours
      = link_to 'Click', 'dm_hours'
      for icons.

-#.card.mb-3
-#  .card-header
-#    Flash Examples
-#  .card-body
-#    %button#show-flash.btn.btn-outline-primary{ type: :button }
-#      = icon 'fas', 'exclamation-circle', 'Show flash message'

-#.card.mb-3
-#  .card-header
-#    Form Examples
-#  .card-body
-#    - collection = %w(These Are Some Options)
-#
-#    = simple_form_for :form_examples do |f|
-#      = f.input :string, as: :string
-#
-#      = f.input :text, as: :text
-#
-#      = f.input :select2, as: :select, collection: collection, input_html: { class: 'select2' }, include_blank: false
-#      = f.input :select, as: :select, collection: collection
-#
-#      = f.input :radio_buttons, as: :radio_buttons, collection: collection
-#      = f.input :inline_radio_buttons, as: :radio_buttons, collection: collection, wrapper: :vertical_collection_inline
-#
-#      = f.input :check_boxes, as: :check_boxes, collection: collection
-#      = f.input :inline_check_boxes, as: :check_boxes, collection: collection, wrapper: :vertical_collection_inline
-#
-#      = f.input :boolean, as: :boolean
-#
-#      = f.input :input_group, wrapper: :input_group do
-#        .input-group-prepend
-#          %span.input-group-text Prepend
-#        = f.input_field :input_group_field, class: "form-control"
-#        .input-group-append
-#          %span.input-group-text Append

:coffee
  $ ->
    $('#show-flash').on 'click', ->
      $.flashAlert('Hello world!', 'alert-success')
