-# frozen_string_literal: true
= simple_form_for(@study) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :id
    = f.input :study_name
    = f.input :stage
    = f.input :type
    = f.input :notes
    = f.input :lead_manager
    = f.input :backup_manager


  .form-actions
    = f.button :submit
