-# Display all study timelines
-# Author: Maxime Fontana, Michael Vickers, Krusha Vekaria, Apoorva Singh
-# Date: 03/2020

.grouping

  %h1 All Study Timelines

  .scrollable
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th ID
          %th Study
          %th Study Stage
          %th Study Type
          %th Lead DM
          %th Backup DM
          %th Notes
          %th Recruitment Start
          %th LPLV
          %th Freeze
          %th Lock
          %th Complete
          %th
          %th

      %tbody
        - @studies.each do |study|
          %tr
            %td= study.id
            %td= study.study_name
            %td= study.stage
            %td= study.type_of
            %td= study.lead_manager
            %td= study.backup_manager
            %td= study.notes
            %td= study.start_date.strftime('%d/%m/%Y')
            %td= study.lplv.strftime('%d/%m/%Y')
            %td= study.lplv.to_time.advance(:months => 1).to_date.strftime('%d/%m/%Y')
            %td= study.lplv.to_time.advance(:months => 2).to_date.strftime('%d/%m/%Y')
            %td= study.study_finished
            %td= link_to 'Edit', edit_study_path(study)
            %td= link_to 'Tasks', get_tasks_path(study.study_id)
  %br

  %br
