.grouping

  %h1 All Study Timelines

  .scrollable
    %table.table.table-bordered
      %thead
        %tr.d-flex
          %th.col-1 ID
          %th.col-1 Study
          %th.col-1 Study Stage
          %th.col-1 Study Type
          %th.col-1 Lead DM
          %th.col-1 Backup DM
          %th.col-1 Notes
          %th.col-1 Recruitment Start
          %th.col-1 LPLV
          %th.col-1 Freeze
          %th.col-1 Lock
          %th.col-1 Complete
          -#%th
          -#%th
          -#%th

  %tbody
    - @studies.each do |study|
      %tr.d-flex
        %td.col-1= study.id
        %td.col-1= study.study_name
        %td.col-1= study.stage
        %td.col-1= study.type_of
        %td.col-1= study.lead_manager
        %td.col-1= study.backup_manager
        %td.col-1= study.notes
        %td.col-1= study.start_date.strftime('%d/%m/%Y')
        %td.col-1= study.lplv.strftime('%d/%m/%Y')
        %td.col-1= study.lplv.to_time.advance(:months => 1).to_date.strftime('%d/%m/%Y')
        %td.col-1= study.lplv.to_time.advance(:months => 2).to_date.strftime('%d/%m/%Y')
        %td.col-1= study.study_finished
        -#%td= link_to 'Show', study
        -#%td= link_to 'Edit', edit_study_path(study)
        -#%td= link_to 'Tasks', get_tasks_path(study.study_id)
  %br

  %br
