-# Display tasks associated to a study
-# Author: Maxime Fontana, Michael Vickers, Krusha Vekaria, Apoorva Singh
-# Date: 03/2020

.grouping
  %h1 Listing Specific Tasks Assigned to Studies

  .scrollable
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th ID
          %th Name
          %th Study
          %th Lead DM Hours
          %th Backup DM Hours
          %th Guest DM Hours
          %th Year
          %th Month
          %th Complete


      %tbody
        - @study_tasks.each do |study_task|
          %tr
            %td= study_task.task_id
            %td= study_task.task_name
            %td= study_task.study_id
            %td= study_task.lead_hours_worked
            %td= study_task.backup_hours_worked
            %td= study_task.guest_hours_worked
            %td= study_task.year
            %td= study_task.month
            %td= study_task.complete
            %td= link_to 'Manage Hours', edit_study_task_path(study_task)
            -#%td= link_to 'Hours', hours_management_path(study_task)


  %br
