-# Display study hours timeline for 2030
-# Author: Maxime Fontana, Michael Vickers
-# Date: 05/2020

.grouping

  %h1 Study Hours Timeline 2030

  .scrollable
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th ID
          %th Name
          %th Lead Manager
          %th Backup Manager
          %th{:colspan => 3} January
          %th{:colspan => 3} February
          %th{:colspan => 3} March
          %th{:colspan => 3} April
          %th{:colspan => 3} May
          %th{:colspan => 3} June
          %th{:colspan => 3} July
          %th{:colspan => 3} August
          %th{:colspan => 3} September
          %th{:colspan => 3} October
          %th{:colspan => 3} November
          %th{:colspan => 3} December
        %tr
          %td
          %td
          %td
          %td
          %td Lead
          %td Backup
          %td Guest
          %td Lead
          %td Backup
          %td Guest
          %td Lead
          %td Backup
          %td Guest
          %td Lead
          %td Backup
          %td Guest
          %td Lead
          %td Backup
          %td Guest
          %td Lead
          %td Backup
          %td Guest
          %td Lead
          %td Backup
          %td Guest
          %td Lead
          %td Backup
          %td Guest
          %td Lead
          %td Backup
          %td Guest
          %td Lead
          %td Backup
          %td Guest
          %td Lead
          %td Backup
          %td Guest
          %td Lead
          %td Backup
          %td Guest


      %tbody
        - @studies.each do |study|
          %tr
            %td= study.study_id
            %td= study.study_name
            %td= study.lead_manager
            %td= study.backup_manager
            %td= StudyTask.where(study_id: study.study_id, month: 1, year: 2030).sum(:lead_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 1, year: 2030).sum(:backup_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 1, year: 2030).sum(:guest_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 2, year: 2030).sum(:lead_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 2, year: 2030).sum(:backup_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 2, year: 2030).sum(:guest_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 3, year: 2030).sum(:lead_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 3, year: 2030).sum(:backup_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 3, year: 2030).sum(:guest_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 4, year: 2030).sum(:lead_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 4, year: 2030).sum(:backup_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 4, year: 2030).sum(:guest_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 5, year: 2030).sum(:lead_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 5, year: 2030).sum(:backup_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 5, year: 2030).sum(:guest_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 6, year: 2030).sum(:lead_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 6, year: 2030).sum(:backup_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 6, year: 2030).sum(:guest_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 7, year: 2030).sum(:lead_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 7, year: 2030).sum(:backup_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 7, year: 2030).sum(:guest_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 8, year: 2030).sum(:lead_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 8, year: 2030).sum(:backup_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 8, year: 2030).sum(:guest_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 9, year: 2030).sum(:lead_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 9, year: 2030).sum(:backup_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 9, year: 2030).sum(:guest_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 10, year: 2030).sum(:lead_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 10, year: 2030).sum(:backup_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 10, year: 2030).sum(:guest_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 11, year: 2030).sum(:lead_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 11, year: 2030).sum(:backup_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 11, year: 2030).sum(:guest_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 12, year: 2030).sum(:lead_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 12, year: 2030).sum(:backup_hours_worked)
            %td= StudyTask.where(study_id: study.study_id, month: 12, year: 2030).sum(:guest_hours_worked)

  %br
